# Файл с реальными паролями и ключами
.env

# Данные Docker (тома) и служебные файлы
**/.docker/
**/.env.local
**/.env.*.local

# Локальные данные и бэкапы
*.log
*.sql
*.tar.gz
backups/

# Данные контейнеров (тома) - они создаются при запуске
# Но пути к ним можно игнорировать
traefik_data/
data/

# Служебные файлы операционной системы и редакторов
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
*.swo
